/*Cabeçalho*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
/*Titulo*/
header {
    background-color: #b12c2c;
    color: white;
    padding: 1rem;
    text-align: center;
}
/*Menu de navegação*/
nav {
    display: flex;
    justify-content: center;
    background-color: #444;
}
nav a {
    color: white;
    padding: 1rem;
    text-decoration: none;
}
nav a:hover {
    background-color: #555;
}
/*Corpo da pagina*/
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-size: cover;
    background-position: center;
    
}
/*Rodapé*/
footer {
    background-color: #af2c2c;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}


